<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>konomi_bot</title>
  </head>
  <body>
    {% load render_bundle from webpack_loader %}
    <div id="app">
      <app></app>
    </div>
    <script type="text/javascript" src="/konomi_bot/public/build.js" ></script>
  </body>
</html>
